<h2>Where are you?</h2>

<form action="/auto/results">

    <label for="the_address">Street Address</label>
    <input type="text" name="user_street_address" id="the_address">

  <button class="btn-info">What is the weather?</button>

</form>

