
<div class="homepage">

  <div class="row space-above">
     <div class="col-md-6">
     </div>

     <div class="col-md-6">
     <a href="/auto" class="btn btn-default btn-block">What is the weather? </a>
     </div>
  </div>

  <div class="row space-above">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    <a href="/manual" class="btn btn-default btn-block">I'll set my own conditions </a>
    </div>
  </div>
</div>

<style>
.homepage {
  background-image: url('/image.jpg');
  height: 70vh;
  width: 120vh;
}
</style>
